<div class="row">
	<div class="large-5 large-offset-1 end columns form-container">
		<%= form_for @route, url: {action: "create"} do |f| %>
			<%= f.label(:name) %>
			<%= f.text_field :name %>
			<%= f.label(:origin) %>
			<%= f.text_field :origin %>
			<%= f.label(:distance) %>
			<%= f.text_field :distance %>
			<%= f.submit %>
		<% end %>
		<br>
		<a href="/routes" class="button radius">View all routes</a>
		<a href="/logout" class="button radius secondary">Log out</a>
	</div>
</div>