<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Roundaroute" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" %>
    <%= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="large-12 columns title-background large-collapse">
        <h1 class="text-center main-title">ROUND🅐ROUTE</h1>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
